技术协议编号 NO：
上海峰梅动力MES系统需求说明和技术协议
二零二六年三月版
甲方：上海峰梅动力系统有限公司乙方：
签订日期：2026 年	月	日
修订
目录
概述
术语解释
注：若该需求中仅提到MES系统，则是MES、数采 几种系统合并后的统称。
注2：下述描述中，上海峰梅动力系统有限公司，简称“上海峰梅动力”。
项目概况
上海峰梅动力MES系统是为配套工厂自动化生产、数字化制造运营要求的信息化建设项目。满足工厂仓库管理、物流管理、生产管理、质量控制、设备数采及监控的数字化需求，帮助提高生产效率，全面提升生产运营水平。
生产工艺简介
上海峰梅动力主要工艺为：发动机部件机加工，磨削，焊接（全自动焊接、激光焊接、点焊）、铆接、涂胶、清洗、装配、气密、装箱及返工返修。
原材料人工捡配配送原材料后，通过人工叉车&AGV配送到各工序工作中心&线边库。人工扫码上料&上料机器人自动识别上料，焊接机器人
自动焊接，通过人工检测&视觉识别自动质检，合格品手动&自动打印单件条码
（纸质条码、激光条码等条码），人工&机器人将产成品手动&自动放入传送带，至传送带下料口由人工&机器人装箱，手动&自动打印粘贴箱条码，最后通过叉 车&AGV将产成品送到指定位置，由人工操作入库上架。成品根据主机厂 JIT&JIS的要求备料、校验、发运。本期产品服务范围覆盖范围包含但不限于峰梅动力的三个车间，第一个是平衡轴车间，进气及排气两条产线，需要对最后一个工位进行数采；第二个是电池包车间，两条电池包产线，跟产线MES进行对接。第三个是试制车间，需要对不超过10台试制设备进行数采。后续有新项目及新工艺投入使用，纳入后期需求同步进行扩展。
MES 系统功能需求
MES系统功能主要包括：
基础数据管理：包含公司管理、工厂管理（建模）、车间管理、产线管理、工序工位管理，物料主数据管理、生产工艺及 BOM 管理、支持工程变更并且支持新旧 BOM 并行生产，产品工艺建模、生产工单模板管理、问题代码维护管理、厂内厂外标签打印模板管理等；
生产管理：生产计划新建、生产计划同步 ERP 计划、生产计划导入导出、生产自动排程（按简单的规则排到单个机台或单条产线）、工单定时自 动&手动下发、人工插单、工单状态及顺序调整、工单产线间&机台间任务调度、返工返修、终端&PC 端报工、手动&自动关单等任务状态的处理、生产进度类报表等；
仓储管理：需要对接金蝶WMS
物料拉动：
原材料、半成品：手工&自动方式的物料拉动；电子看板、紧急拉动（高级权限）、对接 AGV 自动化拉动；各工序之间人工&自动拉动；
产成品：发运模式 JIT/JIS；发货订单拉动备料等各发货环节的任务。
计划工单管理：手动&自动从 ERP 同步生产计划，计划可手动&自动拆分各序生产任务，工单可手动&自动下发到设备（或机台、工序、工作中心）、工单（后台）打印、工序过点扫描识别、半成品&成品报工、与 WMS、金蝶 同步报工信息；
质量管理：通过数采实现质量缺陷的自动录入、手工质量问题录入、质量缺陷预设、点检项配置、首末巡检、质量追溯、报表查询、实验室管理； QRCI模块、分层审核模块、工单下发、提醒推送，接单整改，分析闭环
Andon 管理： 物流、质量、设备人工 Andon，设备故障自动 Andon， Andon 问题升级，报表统计查询，Andon 大屏显示（工厂、产线、工序生产状态监控）等；长时间停机自动上升至QRCI模块进行分析，推送关联；Andon模块广播系统进行车间级别音频播放
设备&模具管理：设备&模具台帐、点检管理、维修&保养管理、封存&寿命管理、故障升级分层审核。
器具管理：去来料器具、厂内器具、成品发运器具进行库存管理
文件管理：各工序文件维护、MES 终端自动展示与查询；
设备数据分析：设备状态集中监控；TEEP 分析、OEE 分析；
报表与展示：生产计划报表、产能日报和周报、设备报表、TEEP 报表、班组早会报表、运营会议日报和周报等（可根据用户需求自定
义）；上海峰梅动力战略中心大屏展示、PC 端和移动报表查询与展示、短信或微信或飞书等移动端推送消息提示，报表可支持低代码开发调整；
接口管理：与产线MES做集成：ERP、 AGV 调度系统、OA 系统、与峰梅动力数据中心的接口（具体数据按所有已采集到的数据为准）、与主机厂 JIT/JIS 等接口的对接、报表类需要开通与飞书的对接；
系统管理：菜单管理、角色管理、用户管理、系统参数管理、模板管理
（系统预设导入导出、打印模板等预设模板）、权限控制、系统日志
（前端页面可查询，精细度至用户 IP 及操作对应表单及按钮）、终端版本控制（若存在终端，需实现可以后台上传应用，终端自我升级）、系统服务监控与报警、MES 网络监控、数据自动历史备份等，与EPR推送记录（成功或失败）需保留，可进行手动推送或人工处理；
工作范围
本项目为MES、数采系统交钥匙项目。乙方负责整个项目MES系统软件的设计、开发、集成、安装、调试、培训、陪产、及一年的运维工作。运维开始时间以系统上线时间为开始时间。MES现场终端硬件（如工位触摸屏、条码打印机、扫描枪、PDA、工业PAD等）、及安装辅材由乙方负责选型、甲方负责采购、乙方负责现场安装调试。MES系统相关的服务器（含机房环境）、网络的采购及安装由甲方完成，但需乙方协助硬件需求的收集确认、选型。
使用部门：
上海峰梅动力系统有限公司工厂物流部、生产计划部、生产制造部（班组长、操作工）、质量部门、设备部、技术部、人事行政部、运营管理层、财务部、数字和信息化部（IT）。
系统管理部门：
上海峰梅动力数信部。
项目时间节电要求
项目要求MES系统在2026年7月15日前上线。
系统功能性要求
基础信息管理
工厂建模
工厂信息维护
车间数据维护
产品信息维护
工位数据维护
产品工艺路径配置（车间工序多机台的灵活配置）
其他：支持工厂日历、班次等信息的维护
产品 BOM 管理
产品BOM数据通过数据接口从金蝶同步
支持BOM版本管理，在工程变更时可进行BOM人工切换；支持相同产品使用不同版本BOM进行任务下派和生产。
质量问题数据维护
过程质量问题基础信息定义：各对过程质量问题进行标准化设置。参考相关部门以往在用的过程质量统计表等进行质量问题标准化设计。涉及数据项示意（待细化确认，依据专业标准，公司统一制定）：
缺陷类别：质量问题所在的工艺种类
缺陷等级：按问题的严重程度进行分类，如定义 A、B、C、D；
缺陷类型：指质量问题对应的工艺类型。设置类型代码，制定编码规则；
不良项：指具体的缺陷项。设置不良项代码，制定编码规则；
部位：为各部位设置代码（展示图例，蝴蝶图方式）；
其他相关数据项；
上海峰梅动力金蝶中有对质量检查问题分类定义，在实施过程中作参考。
生产批次规则的维护
支持对不同产品批次号、流水号编码规则设置，以便在排产及生产过程中根据编码规则自动生成批次信息及单个产品条码信息。
生产指示单（流程卡）维护
根据不同产品的工艺要求维护生产提示单打印内容，可进行电子方式流转和纸质打印流转，可支持选择不同现场的打印机。
人员管理
组织管理
维护公司（工厂）组织层级，用来为后期数据中心集成做组织层级区分；所有数据发生基于组织层级进行。
账号管理
根据组织层级建立人员账号，录入登录账号的基本信息（岗位、技能等级），可从HR系统（人员管理系统）同步人员基本信息，也可本系统手动建立（或数据初期Excel导入）；
对建立的账号进行状态管理：启用、停用、注销。系统内未发生过关联数据的可以进行注销，参与过生产数据的不可以直接注销，但是可以停用（高级权限允许删除），账号不允许弱密码，第一次登录必须更改密码；
账号密码重置功能：需根据系统配置字典预维护的密码内容进行密码重置；
查询：根据人员基本信息（账号、姓名、部门、角色、岗位、技能、账号状态）进行查询。
角色授权
根据组织层级，在各部门下建立对应角色，针对不同角色授予系统内不同功能权限；
在系统角色下选择人员进行授权，人员自动跟随角色带的权限显示不同菜单；
查询：可查询系统角色下，具体人员信息，当前该角色有多少人员兼任；也可以在人员账号建立的功能出进行角色维度查询，查询当前人员被授予哪些角色。
当角色被占用时，不可以删除。当角色下绑定人员清空且未产生数据关联，可以进行删除。
生产计划管理
主要的功能应包括但不限于以下功能：
接收ERP生产订单（生产计划）。（支持手工录入计划，支持导入导出）
支持手工创建生产订单（手工插单）
生产排程：MES（每天滚动）根据金蝶或人工输入生产计划要求、生产每天的报交统计情况，并结合工厂日历、产线/设备状态、生成节拍等条件及其它约定的排产逻辑，自动将生产计划排程到日、班或单个机台。支持排产逻辑的可配置性；支持排程结果的人工调整；支持人工排程结果的导入；支持排程结果的导出；支持将排程结果通过系统接口返回给金蝶。
生产工单下发：每天将排程计划下发到各工序或机台：MES终端，或通过接口方案下发给加工中心设备系统
生产计划明细及汇总、生产实时执行工单信息查询、历史计划查询日达成、周达成、月达成报表查询统计等（支持导出）
仓储管理
核心的基础数据如下（不限于）：
厂内物流路线信息：线路编码、线路名称、配送工位等；
来料检验管理
来料检验的流程管理功能具体以蓝图阶段为准，以下作参考。
在MES系统质量模块中，对不同的物料号设置不同的检验项，若为设置对应物料号，则默认为通用检验项。来料检验相关检验内容根据MES与金蝶（或供应商PORTAL）做接口，接收ASN，到货时在MES中根据不同的物料生成不同检验项的质检单。检验后的根据质检结果完成货物的入库或退货，并把收货数据和质检数据同步给金蝶。
物料拉动
通过多种物料拉动方式：手工拉动、电子看板拉动，基于不同拉动规则（按需，定时，定量等），支持紧急拉动。
手工拉动
人工在MES终端面手工拉动界面输入物料号，系统绑定的物料/辅料名称，供应商代码、供应商名称等信息自动显示出来。人工填写拉动数量。
系统支持组单，如果系统物料供应商关系和物料工位关系维护不全则提示组单失败或不能组单。组单后系统可以手工或系统自动打印出库单。
电子看板拉动
与MES系统集成，从MES系统获取过点信息，根据生产线实际生产状态实时计算各工位的物料消耗，并将所消耗的物料信息实时发布，由系统定时发布累计起来的物料信息给相关供应商或仓库，供应商或仓库根据物料拉动单组织物料，配送到车间。
JIT拉动功能
接收主机厂的JIT信息，在MES中生成JIT拉动单，指导物流人员根据JIT单进行备货（需防错），发货后与客户EDI进行（ASN）信息反馈，最后与金蝶进行报交过帐。
其它相关功能需求
领料管理：可在 PDA 端或 PC 端发布领料任务（或批量发布）和出库操作
紧急拉动：线边人员触发物料 Andon 时，系统根据一定规则生成备料单（支持人工创建和确认），当通过 AGV 或人工送到线边工位 时，自动或人工方式更新线边库信息
过程质量信息管理
主要包括生产过程中的质量问题（缺陷）录入、查询、修复信息录入以及复检确认等实现闭环管理的功能。
与视觉检测系统对接，自动采集质量结果数据，质量问题自动报警
支持生产首末检、巡检、过程检等，支持直接从检测设备读取检测结果数据。系统支持过程质量问题标准化及相应的配置：对质量问题相关的数据项进行
组合设置。过程质量问题相关数据项（质量问题项目标准、录入工位等）配置可通过主数据管理中的数据字典功能进行维护。
过程质量录入方式应遵循操作简单方便的原则。例如
扫描产品/半成品条码后系统带出产品检查的问题清单
分级选择定位具体的问题情况
数据采集支持PC端和移动端。
实验室管理
报检周供产品需求人需要提前7天在系统内发起常规实验测量任务，并选择送检时间，实验室完成后由实验人员对任务状态进行回复。
项目报检可在系统中区分紧急与非紧急，紧急项目可提前三天在系统中进行报检，非紧急提前7天在系统中进行报检。紧急与非紧急项目可在系统中由管理员进行更改，其他人无权限。
实验室周工作计划根据提前一周的报检清单自行统计，统计后的清单可以下载至PC端（Excel）。
每日实验室工作任务可在系统中按设备和人员自行填写工作日报。
实验室数据录入需要区分为手动录入与自动读取两种。
实验室实验类报告由乙方进行评估，评估后给出准确结果。
三坐标&实验室测量报告需经过采集软件自动读取测量报告，报告可支持PDF、DMO、Excel、CSV格式解读，需要将产品偏差与公差带读进数据库中进行合格率计算。
根据实验表单手工录入的报告需要在系统中创建数据结构，数据结构包含产品组、产品、过程组、过程、测试组、测试、批次、测验时间等信息。
数据结构中的测试项目具备插入图片与检验指导书功能，可在系统中进行跳检。
进入系统中的数据保存至数据库中，甲方可随意根据项目号零件号或使时间等多维度进行报告筛选。
数据区分能三种类型：变量型数据、不良型数据、缺陷型数据
变量型数据需要根据可以在系统中创建单值移动极差图、均值移动及插图、趋势图。
不良型数据可以在系统中创建NP图（样本大小一致）、P图（样本大小不
同）以上为不合格品控制图、PPM图（每百万次机会的不合格率）
缺陷型数据可以出帕累托图，系统可以根据A B C类不用缺陷增加权重，权重比要在帕累托图中有体现，帕累托图为横向帕累托图，可多维度进行筛选查看缺陷数据，也可以天、周、月、季度、年为统计单位进行筛选。
实验室检测报告由甲方人员在系统中设定公差与内控两个层级界限，超出任一层级的报警线都可以发送报警。
系统中需要带SPC八大判异原则报警，报警规则甲方人员可自行更改。
甲方可在系统中筛选任意一组数据，筛选后的数据需要能自动计算CP CPK PP PPK Range，算法结果需要与Minitab保持一致。
产品超差预警可根据不同项目零件测试发送给不同项目负责人。
产品超差邮件报警后由工程师自行在系统中进行信息维护，如超出48小时未维护报警信息，报警升级至平台QRCI，如超出72小时未处理报警升级至运营 QRCI，时间可由甲方自行维护，需预设接口将实验室数据传输给主机厂系统。
首末件检验
检验员根据检验表单中的信息逐条确认检验项，检验完的数据完好的展示在系统中，可根据项目号、时间等多维度筛选检验报告数据并支持导出Excel功能。
检验完的数据同4.6.1一样，具备报警升级功能。
数据结构支持设定检测周期报警功能，如每隔3小时检验一次，如系统中没有检测数据需要报警至相关工程师。
系统支持与蓝牙量具接口对接，可第一时间上传至系统。
追溯信息管理
生产批次码、零件码的生成与打印；生产过程流转中条码信息的关联；产品与人员、设备信息的关联；包装条码的打印、关联、防错；实现生产过程中从原材料到零件的精确批次追溯。
系统支持批次号、流水号、生产条码、客户包装条码生成规则的维护配置；自动记录产品生产过程相关联的人、机、料、法、环相关的数据，生成产品
生产履历；
系统支持按批次、生成订单、时间等查询产品信息；
设备数采数据与产品批次关联与追溯（具体以蓝图需求为准）。
Andon 管理
主要功能是MES集成车间设备或其上位机系统数据，支持用户从MES终端进行Andon操作，根据业务需求进行屏幕展示。实现功能包含但不限于以下内容：
产线大屏管理：计划数日/月，实际完成数日/月，停线时间，可动率，设备状态，呼叫（质量，物料，设备，安全等）。
设备故障自动Andon：通过设备数采，实时监控设备的故障状态，有故障时自动触发Andon报警
根据实际工厂规划情况，设计合理的Andon系统（硬件+软件），建议考虑与设备上位机终端的共用
MES终端进行软Andon操作：质量问题呼叫、物料呼叫、设备故障呼叫等，具体Andon功能的配置遵循简单高效的原则，尽量不给一线员工增加系统操作。
根据Andon呼叫进行移动端消息推送、问题处理流程管理（自动升级等）
Andon统计和报表
支持将Andon信息通过，短信或微信或飞书等移动端推送消息提示；（具体以蓝图业务需求为准）。
设备管理
设备台帐、点检管理、维修&保养管理、封存&寿命管理、备品备件管理等全生命周期管理。支持设备分层审核管理。
主要设备对象有：生产机台设备、模具、量&检具、工装夹具、特种设备。特种设备管理要求如：保养计划及到点提醒、保养/维修数据的记录（履历）
等
设备管理APP：消息推送、状态查看、报表查看。
器具管理
支持厂内及厂外器具进行库存管理：
维护器具库存基础信息；建立器具厂内仓库、客户端虚拟仓库、供应商端虚拟仓库；系统上线前及新器具导入时建立初始库存信息。
来料器具：根据来料收货进行自动器具入库统计；空器具发运（返回给供应商）时打印发运单发运，器具自动出库
成品发运器具：根据成品发运（箱标签）自动统计器具出库信息；空箱返回时根据客户空箱返回运输规则或空箱返回收货单自动统计入库信息
工艺指导（SOP）
不同产品SOP文件后台维护，支持文档和图片形式
订单生产时，在MES终端可自动展示产品相关的本机台的操作指导在MES终端上可通过产品—工位的形式查询相关的SOP文件
设备数据采集分析
与数采平台接口：与数采平台作实时数据接口，采集设备状态、过程工艺数据。根据业务应用的要求，MES项目定义标准的数据格式及规范。数采项目按MES要求采集和结构化处理设备数采数据。
采集的数据需保证满足上海峰梅动力MES数采蓝图的要求，同时满足工厂的追溯、物料拉动、激光打码等业务需求的数据要求。
MES平台实现设备状态上位集中监控（总部数据中心使用）； MES平台实现设备TEEP分析、故障处理（流程）统计分析；
MES从数采平台接收的数据类型主要包括：1.生产信息类、2.设备状态类、3.
报警消息类、4.过程工艺参数类、5.数据写入类。具体数据类型以调研阶段为准。
查询&报表管理
报表与展示：生产计划报表、产能日报&周报&月报、设备报表、TEEP报表、运营会议日报&周报等；车间大屏展示、PC端&移动报表查询与展示、短信或微信或钉钉消息推送、班组早会报数、优秀班组展示等；
上海峰梅动力总部集中监控画面及报表（指挥中心）
可实现从移动端APP、小程序、微信、钉钉、飞书等方式（不可少于一种方式）进
行报表查看
系统接口集成
该模块主要是对MES系统与其他设备、应用系统的集成管理，实现数据传输，支持接口的日常监控与日志采集等功能。
MES系统将与金蝶、供应商Portal等集成。主要接口如下（具体以项目蓝图阶段为准）：
与金蝶集成：通过数据接口，实现BOM、生产订单、成品&半成品出入库信息、报工信息等的交互；金蝶报表数据的接收（在MES展示金蝶的数据监管报表）
与OA接口：设备维修、保养工单审批的发起和状态回传；
与AGV系统的集成：MES与AGV系统之间接口集成。MES物料拉动模块管理物料配送任务，MES实时将配送任务（备料地点、配送时间、配送工位等信息）下发给AGV系统，AGV调度系统控制AGV小车按要求的路线执行物料配送。AGV系统在物料配送过程中实时上传AGV小车状态及位置信息给MES，MES界面上可实时监控AGV配送情况（物流PMC）。当物料配送到指定工位后，MES自动进行物料转库。
过程追溯要求
追溯数据：
原材料批次：与上料机器人系统对接，MES采集自动上料的批次信息；
加工过程参数：MES自动采集设备过程重要参数、配方参数、结果参数
质检结果参数：从视觉检测系统采集自动检测结果参数
结合质检完成后MES生成的单件条码（并发给激光打码机打码），要求
MES供应商设计以上过程参数与单件条码进行关联绑定的实现方案追溯查询：
要求单件产品履历查询，以目录树方式展示
可以通过机台、时间段、原材料批次等关键条件查询追溯信息与主机厂追溯数据传输接口（待定）
系统管理
菜单管理、权限控制、模板管理、前后端系统版本管理、系统日志、系统服务监控与报警、数据自动历史备份等；
菜单管理
用来调整各功能菜单在系统各模块下的位置包含功能的排序，并需要管理员可以自定义菜单名称。用户做授权时，需要显示修改后的名称。
权限控制
根据组织架构、部门、岗位/角色进行菜单授权。
权限控制需要区分超级管理员和普通管理员。超级管理员可以控制最多的菜单的授权的显示和隐藏，普通管理员仅可以对被授权的菜单向用户授权。
角色授权时，需要可以明确授权至按钮级别。
模板管理
维护数据导入模板：
在该功能能处设置各功能模块的导入导出的Excel模板或其他数据格式的模板。标签打印模板：
设立成可配置的、多种模板并存的形式；
在该处根据物料号维护各位置对应的标签打印模板，如原材料标签模板、成品标签模板、客户标签模板、设备标签模板、器具标签模板、模具标签模板。数据字典用来存放系统中，配置备选项的管理页面。
1、 系统用户密码重置预设密码（可修改）；
2、 任务状态，正常或加急状态；
3、 设备状态；
4、 常用单位； 等其他字典配置。
系统参数
1、 可配置看板中提示的变化的数值、颜色；
2、 各表单、报表默认显示的时间、数量等报表参数；
3、 Logo 文件替换；
4、 各对接系统地址配置；
5、 尾箱（不满箱）标签打印控制密码；等其他系统控制参数配置
系统功能通用内容
1、系统内所有导入产生的错误，需要明确提示错误原因。便于用户使用时及时发现问题。
2、若系统对导入的数据有格式的要求，请在导入模板的表格中，明确说明。
硬件需求
MES系统所需的服务器、存储、操作系统软件等IT基础资源由甲方统一采购、安装，乙方在方案及技术协议上需明确具体IT基础资源要求。MES终端设备、数采设备由甲方采购，乙方在投标方案上应明确建议的型号（二种以上可选）及价格，MES终端由乙方负责安装和调试（包括提供安装辅材）。乙方在蓝图设计中应包括网络硬件和MES终端硬件的安装点位、网络地址相关的规划设计。
原则上：MES系统所需网络设备、供电设备由甲方提供，统一由甲方完成现
场网络施工建设（甲方负责车间各机台附件的网络及供电）。乙方负责从机台附
件到MES终端的网络及配电施工。具体的施工方式及分工界面在详细设计阶段双方可再商议。
上海峰梅动力MES终端硬件以国内主流工业级品牌为准，数量以详细设计方案为准。
非功能性要求
乙方提供MES、数采基础开发的平台，并向甲方开放所有源码。系统开发方式为自研发系统，在乙方提供的开源的平台上进行功能开发，需满足甲方旗下各工厂需求。并保证以下基本的平台非功能性要求。
集成性和接口要求
MES系统与其他相关系统的数据通讯与网络联接全部是建立在工厂IT以太网上。
软硬件选型要求
在产品的选择上，根据甲方的硬件平台规划采用符合实际需求、并为国际上广泛采纳的、支持开放标准的主机、存储产品及数据库。选用的各型设备和数据库软件均应符合相关的国际标准和国家标准；
乙方所推荐选用的设备必须具有良好的稳定性、通用性、兼容性；
设备选型要求质量可靠、性能优良，并具有技术上的领先性；
乙方应保证推荐提供的硬件标准与软件能够兼容；
乙方所建议的设备和软件平台应符合行业标准；
乙方应负责对所有的硬件进行集成与调试；
硬件配置：有详细的服务器、网络设备、操作系统、数据库、终端等具体配置和数量要求；
硬件部署：硬件总体部署架构合理和最优，物理部署规划完整，并提供完整的系统拓扑图；
热备份及恢复：系统应具备完整的备份及恢复机制，可以充分保证数据库数据备份和恢复的安全性、一致性和完整性，若系统本身不具备备份功能，乙方应对系统备份操作提供完整的解决方案；
硬件平台故障及恢复：要有完整的硬件平台保障及恢复机制，以支持软件系统运行正常；
负载均衡和硬件故障冗余：系统架构应具备应用负载均衡和硬件故障冗余机制，确保硬件平台性能满足系统使用要求；
硬件性能监控：要有完善的硬件性能监控策略和方法，对设备使用状态进行定时和实时的监控，确保硬件问题能尽快查明和排除，确保系统使用正常。
平台要求
总体系统要求：
本项目采用自研发方式，使用MES系统供应商现有的平台进行符合上海峰梅动力自己业务进行开发，产品设计需满足上海峰梅动力旗下各子工厂业务，支持业务流程自定义组态、操作界面二次开发，并能够与ERP系统的无缝集成和数据通信。要求平台软件在实施和部署上能够在Server端一次部署，业务逻辑可不断修改，并可以支持在线不停机的方式更新业务逻辑，支持对程序的变更，采用版本控制管理，能够保证开发人员有完善详细的技术文档，以便于知识转移和后期维护。
乙方应明确说明采用的平台软件是否为自研发，给出准确清楚的软件配置和软件授权说明，并能提供软件平台的技术支持和售后服务。
软件平台必须是SOA架构
SOA（service-oriented architecture，也叫面向服务的体系结构或面向服务架构）是指为了解决在Internet环境下业务集成的需要，通过连接能完成特定任务的独立功能实体实现的一种软件系统架构。SOA是一个组件模型，它将应用程序的不同功能单元（称为服务）通过这些服务之间定义良好的接口和契约联系起来。接口是采用中立的方式进行定义的，它应该独立于实现服务的硬件平台、操作系统和编程语言。
系统集成性和开放性：
要求乙方提供的MES系统产品，应具有良好的集成性和开放性，以满足企业后续信息化的集成需求；能与金蝶、SRM系统等进行集成。
产品应具备相应二次开发扩展功能(提供图形化的二次开发环境更
佳)，支持对业务对象及代码的备份管理，对象、程序界面以及各种对象的导入导出，并具有完备的二次开发接口说明文档，提供相应的业务基础结构设计说明文档。硬件方面，支持网络交换中节点的扩容；根据实际情况对系统进行灵活地配置和组合，能方便地升级和更新。
系统可升级：
对目前已有的系统开放接口；MES系统数据库与金蝶数据库有良好的兼容性，采用相同的数据库维护工具。系统功能改进或新增功能模块升级
后，均为统一的系统平台。要求MES系统具备软件版本升级的能力，服务器端的程序更新，所有客户端可自动更新，而不需要在客户端进行手动版本更新。同时要求所有更新有更新日志，同时可进行版本管理，可选择版本发布。支持容器化部署更佳。
保证软件版本的一致性：系统验收后1年的质保；上线后3年内软件平台版本免费升级1次，且对于版本兼容性带来的项代码开发需免费。
系统安全性：
系统提供文档备份机制，保证数据安全。系统有严格的用户、密码、角色控制。要求使用正版软件，应用服务器及数据库服务器使用双机热备及负载均衡技术，接口服务器要实现双机热备，实现数据存储的高度稳定性，要求操作方便、维护简捷。
系统支持服务器以及数据库的服务监控，日志记录及对问题的诊断分析，自动记录系统通信及系统设置、状态等各种日志。
移动端访问：
支持手机移动应用端查询系统相关信息，具体需求以实际业务需求为准。
系统结构：
要求供应商提供的MES系统产品采用B/S框架，系统硬件可以方便地扩充，以满足更多并发用户的请求；客户端采用以浏览器模式为主的手 段，保证整个MES系统的客户端无关性；
提供B/S报表工具，可自行开发、扩展、新增相应报表；
要求乙方提供的MES系统产品支持主流Linux或Windows企业级操作系统（最新或近三年版本）作为数据库服务器操作系统;
要求乙方提供的MES系统产品支持企业级主流数据库系统。
要求乙方提供的MES系统产品支持集群架构；保证系统的   高度可靠性。
要求乙方提供的MES系统产品具备成熟的接口技术支持，如支持多种接口协议，确保异构系统之间的数据传输及时与准确性。例如：
遵循 SOA 的整体框架规范；
支持串口通讯；
支持 WinSocket 通讯。
数据存储方法：
要求乙方当系统实时历史数据库发生故障的时候，可以通过备份文件对数据进行快速完整的恢复。要求乙方提供的MES系统产品实现从生产数据库到历史数据库的每日自动归档，同时自动清除生产数据库中的旧数据，保证生产数据库的容量以及性能，并保证历史数据安全。
权限管理：
要求乙方提供的MES系统产品权限管理控制细致，不同的权限对应的数据访问权限分别授权，需要支持不同的安全策略，并能为系统管理员提供多种发现系统故障和非法登录的手段。
支持适应多车间的部署和管理
根据企业未来发展需要，支持多车间的扩展部署，实现对多车间的管理。乙方需说明将来相关 MES 组件的扩展、修改或增加大致情况及部署要求。
支持将来拷贝复制部署到多个相似的工厂，并可以结合具体工厂的差异做组态配置修改和二次开发修改。
系统软件授权要求
乙方提供的MES系统的用户数不限（方案及报价中需要为无限制版）。
本次项目所涉及系统平台的二次开发的源代码和定制开发代码、数据库                    字典和相关文档向甲方提供，知识产权归属甲方和乙方共有，甲方有权对其进行二次开发并免费使用（仅限于上海峰梅动力集团内部使用）。如果同一 MES产品平台在峰梅动力及合资公司其它工厂复制使用时，可以免费使用此项目中所有的代码。
平台部署要求
使用本地服务器部署，要求实现数据服务器、应用服务器的高可用性
（热备）。生产环境3台物理服务器+共享存储（碰盘阵列），测试环境1台，具体配置及系统及数据库软件由MES供应商提方案要求。机房、服务器、存储由甲方建设提供。分子工厂MES与峰梅总部数据中心通过专线
（10M）的方式连通。乙方（MES供应商）需对整体MES部署方案进行设计、验证、软件服务环境搭建和部署。部署方案需保证：分基地系统界面操作延时性小于1S,打印服务响应小于2S，网络可靠性大于99.99%，具备防止数据拥堵机制。在蓝图阶段需设计异常情况系统不用情况下的业务流程（无系统生产正常进行）和系统恢复流程（保证系统生产模式间断不超过30分钟）。
MES部署需设计访问控制、病毒防护、数据缓存和备份。
其他要求
乙方应该具备一支完整的本地化软件开发支持团队，应该具备本土实施的成功经验；
可靠性需求：可靠性是指系统在一段特定时间内无错误运行的可能性。
系统最大可接受非正常连续停机时间为 10 分钟，并提供应急预案，且能在 10 分钟内恢复。可以使用批量数据重发功能为佳。
系统可用性≥99.9%；
采用集群处理的多级分散控制系统，设备、数据介质等某些关键部分考虑备份和冗余配置，保证其发生故障时不影响整个系统的正常运行；
可用性需求：系统服务时间 7*24 小时；
容量需求及系统数据生命周期：
基础数据：永久；
业务数据：实时数据保存不少于 12 个月，历史数据至少保留
10 年，具体数据保存方式需在方案中体现。
数据存档：区分实时数据库和历史数据库，具备数据定期归档处理的功能和方法并在方案中体现；可以实现实时数据库及历史数据库的双向同步；
安全性：
提供灵活的权限控制，如系统管理员和业务关键用户等权限划分清楚，浏览/修改权限划分清楚，不同的权限对应的数据访问权限分别授权；
有密码控制等安全策略；
能为系统管理员提供多种发现系统故障和非法登录的手段；
系统需使用 https 协议，保证数据的安全性和完整性。
系统性能响应要求：
对于事务性处理、实时请求，用户没有明显的延时感觉，延迟时间≤3 秒；非历史数据查询响应延迟时间≤15 秒，因此构建的相关应用系统中，要保证上述性能指标要求；
根据业务支持的要求，主系统与备份系统的切换时间≤5 分钟，联机数据备份应不造成已完成事务的数据丢失；
可扩展性要求：
硬件方面，支持网络交换中节点的扩容；根据实际情况对系统进行灵活地配置和组合，能方便地升级和更新；
软件方面，具有二次开发能力，以适应不断增强的支撑功能和不断拓展的业务空间；能够兼容多种软、硬件系统，能够方便地与其它信息系统完成数据共享。具有丰富功能的管理平台，方便技术人员掌握和使用维护；
灾难恢复及业务支持：
遇到灾难性宕机后，系统恢复服务的时间要求在 24 小时以内；
宕机重处理后，数据恢复率要求达到 100%；
具备系统备份、业务数据备份、数据归档、灾难恢复以及相关数据的查询功能；
运行和维护需求：
乙方保证系统正常生产运行提出建议方案，解决以下问题：
如何建立一套符合甲方业务环境和技术环境的 IT 运维支持流程；
如何配置运行支持所必需的人员配置；
运行维护、系统管理人员应具备哪些专业技能；
如何进行技术转移和培训工作；
如何分析系统间的依赖关系，从而对源系统的变更进行影响评估；
如何保证系统易运维、易监控，建议采取的运维方式是什么；
如何进行数据集成过程的监控；
如何进行数据集成过程出错重处理；
如何保证数据出错后的恢复和更新；
运行监控：
有完善的系统监控策略和方法，可对设备使用状态进行实时的监控；
具备数据集成过程的监控；
接口数据的监控与检查手段；
服务器状态的监控。
供货和服务的范围
乙方应向甲方提供完整的应用系统解决方案，包括应用软件的开发、使用的可选件或第三方产品。
乙方应确保其技术建议书以及所提供的软件系统完整性和可用性，保证软、硬件设备能够投入正常运行。
若因乙方失误，造成系统运行错误或软件配置有遗漏而导致系统达不到原定性能指标，乙方应免费进行补充，直至满足要求。
二开支持：如果甲方需要在 MES 平台上进行二次开发，乙方需免费开放平台接口和提供远程技术协助
项目验收后一年内的运维支持必须包含在本项目报价及项目实施范围                   内；
应用乙方在实施过程中提供以下软件工具必须合法：
项目计划与进度管理工具；
项目需求与变更管理工具；
风险管理工具；
测试及 BUG 管理工具；
软件开发平台；
培训与知识转移
培训内容
技术培训：
1、乙方将对甲方相关系统技术人员（至少 2 名）提供有针对性的开发级技术培训。在硬件设备、系统平台、应用软件安装调试时，对甲方的维护相关技术人员提供现场培训或其它方式培训，使受培训人员在培训后能独立完成相应的技术工作（包括基础运维及系统的二次开发工
作）。乙方应对技术人员进行系统的总体架构、网络环境、系统接口、开发平台、系统管理维护、配置、备份、安全管理、业务流程、用户操作训练、常见问题处理方法等方面的培训。
2、乙方须对全部底层代码及程序逻辑对甲方开发人员进行梳理和讲解。对于未解释的代码或逻辑，乙方在后期需无条件向甲方的咨询进行解答。同时乙方须为甲方提供完整的接口文档。
用户培训：乙方应根据情况对业务用户进行培训，保证用户掌握软件的使用。参加培训的教师，必须非常熟悉系统，同时深刻理解业务流程。培训过程中，讲解与实际操作演示相结合，使用户在理论及实践上完成从感知到认知的过程，使其能熟练使用系统。
培训组织方式
系统安装调试完成后，根据实际情况，乙方应和甲方双方协商安排培
训，时间、地点，培训对象由甲方提供。培训方式是现场授课方式。乙方应在项目开展培训前制定培训内容计划，并提前向甲方交付《用户培训资料》、《用户系统操作指导手册》和发布网络培训教材。乙方在完成系统整体培训后向甲方交付《项目培训报告》。
培训效果
技术培训：甲方的维护技术人员应能独立完成系统运行相关的技术工作
（包括基础运维及系统的二次开发工作）。
用户培训：受培训人员在培训后能熟练业务操作，并能达到可以继续为其他人作培训的能力。
交付物
9项目里程碑
项目启动后，按照实际时间点更新项目里程碑。
组织架构
乙方必须提供将投入该项目的组织机构及人员构成,，包括乙方人员数量、技能（含技术特点），过往项目经历等，以及项目成员的真实简历，同时提出对甲方的业务人员和IT人员的参与建议，包括参与度、职责等。
为确保项目实施成功，要求应用乙方项目经理具备丰富的项目管理经验，负责过多个MES系统项目实施，对于项目团队主要成员，要求平均工作经验在3年以上，平均承担过2个以上的项目实施。
应用乙方在投标文件中应明确本项目的人员投入计划（计划的力度到每天,投入人员按人/天计算）和实施办公环境要求。项目启动之后，按照应用乙方的人员投入计划，相关人员需要专为本项目服务，如需更换项目人员，需要预先取得甲方的同意；如项目人员辞职，需预先通知甲方，并新增相应的项目成 员，该项目成员的能力必须获甲方的认可。
职责分工
沟通管理
变更管理
在项目实施过程中，用户在需求确认后，乙方有义务按照需求规定的内容进行项目开发和实施；其中任何一方提出需求变更将启动需求变更管理流程。为了有效的管理这些需求变更，建议甲乙双方遵循如下变更流程。由乙方项目经理负责创建、维护这些需求变更列表。在变更的流程中，甲乙双方的项目成员，都需要参与评估，然后按照双方确定的变更流程，来实施这些变更请求。
变更流程描述：
发起变更请求
开会分析评估变更对项目进度、项目其它功能所带来的影响，并由此而引起的额外工作量。
乙方评估工作量，并由甲方负责人签字确认。
记录变更日志
变更实施
以下是变更请求列表：
验收标准
乙方按本工作说明书中定义工作范围部分完成开发，并通过甲方验收测试。
乙方将本工作说明书中定义的交付物提供给甲方并通过甲方确认。
系统成功部署至甲方生产环境，完成上线。
乙方蓝图阶段、方案阶段未明确说明不按需求来开发的功能，默认按照需求文档中的需求进行验收。
质保服务
系统在实施期间出现问题，乙方必须实时响应，找出问题原因，给出解决问题的时间节点。如果现场的实施人员不能解决问题，需安排更有经验的技术人员到现场处理，直至问题得到根本解决。
系统实施完毕(SOP)后需提供现场维保服务，正常运行3个月后启动验收。从竣工验收后开始为期12个月的系统远程质保服务，如问题不能通过远程解决供应商应到现场解决问题。到达现场的时间要求：
如因系统问题影响到生产必须 4 小时内到达现场；
系统其他故障暂时不影响生产的必须 12 小时内到达现场；
在质量保证期内，乙方提供的下列服务不得另行收取任何费用；其他维护费用另行约定。乙方必须提供的服务要求如下：
提供 package 升级补丁、升级软件；
提供 7*24 小时电话、邮件远程支持；
对于系统故障，实时响应，必须在 2 小时内解决；
在质量保证期后，如果出现的问题没有进行有效的关闭，不予验收，验收
期顺延。
知识产权说明
MES系统平台代码需要开放源码，在开源的平台代码基础之上进行功能自研发，平台之上的代码知识产权归上海峰梅动力所有，形成的整体产品产权归双方所有。整体产品在上海峰梅动力集团旗下各子公司均可以免费试用。在没有双方书面签字  授权的情况，任何单一方不可以单独对外销售。
甲	方：上海峰梅动力系统有限公司代表（签字）：
日	期：
会	签：
乙	方：
代表（签字）：
日	期：
会	签：